:root.theme-dark {
  /* Цвета */
  --color-accent: #ff0700;
  --color-accent-heading: #000028;
  --color-heading: #ff0070;
  --color-bg: #000028;
  --color-main-text: #f1b2ce;
  --color-decorative-elem: #ff0070;
  --color-focus: #db00ff;
  --color-header-menu: rgb(255, 0, 112 / 0.5);
  /* Позиционирование */
  --position-rec: flex;
  /* Шрифты */
  --font-main: 'IBM Plex mono';
  /* Картинки */
  --bg-img: url('../images/cover-image-dark.png');

  .rec-elem {
    visibility: visible;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  --main-font: 'IBM Plex mono';
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --section-font-color: #FF0070;
  --header-decor-color: #FF0070;
  --text-color: #F1B2CE;
  --heading-color: #000028;
  --text-size: 18px;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --hover-switch-color: #FF007066;
  }
  .rec-elem {
    visibility: visible;
  }
}